<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="MultipartDataMediaFormatter.V2" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="PushSharp" version="4.0.10" targetFramework="net452" />
  <package id="PushSharp.Apple" version="1.0.1" targetFramework="net452" />
  <package id="Unity" version="2.1.505.0" targetFramework="net452" />
  <package id="Unity.Mvc3" version="1.2" targetFramework="net452" />
</packages>